body{
    background-color: antiquewhite;
    color: rgb(68, 40, 40);
}
.tag-h1{
    text-align: center;
}
p{
    margin-left :40%;
    padding-top:10px;

}
#result{
    font-size: 24px;
    margin: 20px 20px;
    padding: 25px 25px;
}
button{
    background-color: #b9deba;
    margin-left : 47%;
    margin-top : 10px;
    
}

h2{
    text-align: center;
}